body {
    margin: ;
}

#nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

#nav a{
    margin-right: 20px;
}

#nav a.topimage {
    width: 20px;
    height:20px;
    background: red;
    border-radius: 50%;

}

#middle {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    text-align: center;
}

#searchbarcontainer {
    justify-self: center;
    align-self: center;
    margin-top: 20px;

}

#searchbar {
    padding-top: 5px;
    padding-bottom: 5px;
    outline: 0;
    width: 500px;
    border-radius: 15px;
    border: 2px solid rgb(209, 208, 203)

}

#buttons {
    display: flex;
    margin-top: 20px;
    justify-content: center;

}
.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    background:rgb(209, 208, 203)
}

#footer-content {
    background: rgb(209, 208, 203);
    border-top: 1px;
}